.nav{
    display: flex;
    position: absolute;
    top: -1.5rem;
    left: 2rem;
    font-size: 1rem;
}

.navLink{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
}

.navLink + .navLink {
    margin-left: 1rem;
}